# Ignore Mac System Files
.DS_store

#Ignore folders
node_modules
scrap
client/dist

#Ignore environment variables (API keys)
.env

#Ignore ssh keys
FEC.pem

mockData3.json
mockData5.csv
seed/postgresSchema.js
routes/couchdbRoutes.js
couchbaseDB.js
newrelic.js
newrelic_agent.log