# Ignore Mac System Files
.DS_store

#Ignore folders
node_modules
public/sdc-vectrex-chris-shipping-dev.js
public/sdc-vectrex-chris-shipping-prod.js
functions/public/sdc-vectrex-chris-shipping-dev.js
functions/public/sdc-vectrex-chris-shipping-prod.js
functions/public/sdc-vectrex-chris-shipping-prod.js.LICENSE.txt
functions/public/sdc-vectrex-chris-shipping-prod.js.map


#Ignore environment variables (API keys)
.env

#Ignore ssh keys
mockData1e6.json
mockData5.csv
seed/postgresSchema.js
seed/mockData3.json
routes/couchdbRoutes.js
couchbaseDB.js
newrelic.js
newrelic_agent.log
public/loaderio-afaacfa29725b21fc5bd177f0c6b294b.txt
db
data