# Ignore Mac System Files
.DS_store

#Ignore folders
node_modules
sdc-vectrex-chris-shipping-dev.js
sdc-vectrex-chris-shipping-prod.js

#Ignore environment variables (API keys)
.env

#Ignore ssh keys
mockData1e6.json
mockData5.csv
seed/postgresSchema.js
routes/couchdbRoutes.js
couchbaseDB.js
newrelic.js
newrelic_agent.log
db
data